body{
	background: rgb(240,240,240);
	margin: 0;
}

#logo{
	font-family: Baskerville, Palatino, sans-serif;
	font-size: 3.1em;
	font-style: italic;
	text-align: left;
	background: rgb(48,59,68);
	color: white;
	padding-left: 10px;
}
.title{
	font-family: Baskerville, Palatino, sans-serif;
	font-size: 2.1em;
	color: rgb(72,114,148);
	text-align: left;
	margin: 15px 0 10px 0;
	border-radius: 12px 12px 12px 10px;
	padding: 12px;
}
.story{
	font-size: 20px;
	font-family: "Glory", Arial, Helvetica, sans-serif;
	padding: 12px;
}
.rating{
	font-size: 25px;
	font-family: "Glory", Arial, Helvetica, sans-serif;
	margin-left: 10px;
	padding-bottom: 10px;
}
.plus-rating, .minus-rating{
	color: rgb(72,114,148);
	text-align: center;
	font-size: 17px;
	font-family: "Glory", Arial, Helvetica, sans-serif;
    padding-top: 5px;
    background: rgb(240,240,240);
}
article{
	background: rgb(255,255,255);
	margin-left: 10%;
}

a:active,
a:hover,
a{
	text-decoration: none
}