<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" id="theme-link" href="{{ url_for('static', filename=theme)}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Glory">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	{% block head %} {% endblock %}

</head>
<body>
    <div class="header">
        <input type="button" class="logo" value="News" onClick='location.href="/"'>
        <button class="login-button" onclick="document.location='login-menu'">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </button>
        <form  method="POST">
            <input type="hidden" name="change-theme" value="change">
            <button class="theme-button">
                    <i class="fa fa-adjust" aria-hidden="true"></i>
            </button>
        </form>
    </div>

    {% block body %}{% endblock %}

</body>
</html>
