{% extends 'base.html' %}

{% block head %}
<title>News</title>
{% endblock %}

{% block body %}
{% for line in posts %}
    <article id="article-{{line[0]}}">
        <div class="title" id="title-{{line[0]}}">
            {{line[1]}}
        </div>
        <div class="story" id="story-{{line[0]}}">
            {{line[2]}}
        </div>
        <div class="rating" id="rating-{{line[0]}}" >
            <div id="rating-score-{{line[0]}}">
            {{rating[0][1]}}
            </div>
            <button class = "plus-rating" onclick="plusRating()">+1</button>
            <button class = "minus-rating" onclick="minusRating()">-1</button>
        </div>
    </article>
{% endfor %}

{% endblock %}

