{% extends 'base.html' %}

{% block head %}
<title>News</title>
{% endblock %}

{% block body %}


{% for line in posts %}
    <article id="article-{{line[0]}}">
            <a href="/story-{{line[0]}}">
                <div class="title" id="title-{{line[0]}}">
                    {{line[1]}}
                </div>
            </a>

        <div class="story" id="story-{{line[0]}}">
            {{line[2]}}
        </div>
        <div class="rating">
            <div id="rating-score-{{line[0]}}">
                {% for scoreId in rating %}
                    {% if scoreId[0] == line[0] %}
                        {{ scoreId[1] }}
                    {% endif %}
                {% endfor %}
            </div>
            <form  method="POST">
                <input type="hidden" name="post-id" value="{{ line[0] }}">
                <input type="submit" value="+1" name="plus-rating" class = "plus-rating" id="plus-{{line[0]}}">
                <input type="submit" value="-1" name="minus-rating" class="minus-rating" id="minus-{{line[0]}}">
            </form>
        </div>
    </article>
{% endfor %}

{% endblock %}

