{% extends 'base.html' %}

{% block head %}
<title>News</title>
{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alarm" id="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <div class="login-block">
        <div class="login-text">
            Login
        </div>
        <form method="POST">
            <div class="pad">
                Your name
                <input id="login-login" name="login-login" type="text" required>
            </div>
            <div class="pad">
                Your password
                <input id="login-password" name="login-password" type="password" required>
            </div>
            <div class="create">
                <input type="submit" value="Login" class="default-button">
            </div>
        </form>
    </div>

{% endblock %}