{% extends 'base.html' %}

{% block head %}
    <title>News</title>
{% endblock %}

{% block body %}


            
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alarm" id="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="login-menu-block">
    <div class="login-text">
        Login or create an account
    </div>
    <div class="login-text">
        <button id="reg" class="default-button" onclick='location.href="/login"'>login</button>
    </div>
    <div class="registration-text">
        <button id="reg" class="default-button" onclick='location.href="/registration"'>registration</button>
    </div>

</div>
{% endblock %}