{% extends 'base.html' %}

{% block head %}
<title>News</title>
{% endblock %}

{% block body %}
    <article>
        <div class="title">
            {{title}}
        </div>

        <div class="story">
            {{story}}
        </div>
    </article>

<div class="comment-section">
  <div class="default">Leave a Comment</div>
  <form action="/" method="post" id="commentform">
    <label for="comment_author" class="required">Your name</label>
    <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
    <label for="comment" class="required">Your message</label>
    <textarea class ="area" name="comment" id="comment" rows="6" tabindex="4"  required="required"></textarea>
    <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
    <input name="submit" type="submit" value="Submit comment" class="default-button"/>
  </form>

</div>

{% endblock %}
