{% extends 'base.html' %}

{% block head %}
<title>News</title>
{% endblock %}

{% block body %}
    <article>
        <div class="title">
            {{title}}
        </div>
        <div class="story">
            {{story}}
        </div>
    </article>
    <div class="comment-section">
        <div class="default">
            Leave a Comment
        </div>
        <form id="comment-form" method="POST">
            <label for="authorForm">
                Your name
            </label>
            <input id="authorForm" name="authorForm" type="text" required>
            <label for="commentForm">
                Your message
            </label>
            <textarea id="commentForm" name="commentForm" class ="area" rows="6" tabindex="4" required></textarea>
            <input id="comment-post-button" type="submit" value="Submit"  class="default-button">
        </form>

    {% for line in comm %}
        {% if postid == line[0]%}
            <div class="comment-author">
                {{line[1]}}
            </div>
            <div class="comment-text">
                {{line[2]}}
            </div>
        {% endif %}
    {% endfor %}

    </div>

{% endblock %}
